body {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    
}
    
.header{
    /* padding: 5px 120px; */
    width: 150px;
    height: 70px;
    /* background-color: #236B8E; */
}

.log{
    height: 753px;
    width: 1536px;
    background-image: url("./image/249456.jpg");
    background-size: cover; 
}
.logg{
   position:fixed;
   right:10px;
   top:5px;
}